<div class="container">
  <table class="table table-hover" style="width: 700px">
    <thead>
    <tr>
      <th class="block" style="width:70%"><%= :name %></th>
      <th class="block" style="width:10%"></th>
    </tr>
    </thead>
    <tbody>
    <% @rooms.each do |room| %>
      <% room_checker = RoomNameChecker.new(room, current_user) %>
      <% if !room.private? || room_checker.user_in_room? %>
        <tr class="text-success fw-bold">
          <td><%= link_to room.decorate.display_name, room_path(room) %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <%= link_to "New room", new_room_path %>
</div>