<%= turbo_stream_from :rooms %>
<p style="color: green"><%= notice %></p>

<%#= turbo_frame_tag :rooms do %>
  <%#= render @rooms %>
<%# end %>

<br/>
<div class="container .text-primary">
  <h1 class="text-primary">Rooms</h1>
</div>
<%= render 'rooms' %>

